@import '../../setting.scss';

$card-border-radius: 5px;
.card-item {
    background-color: white;
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: $gap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img.card-cover {
      display: block;
      width: calc(100% + 2 * #{$gap});
      margin: -$gap 0 $gap (-$gap);
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
    .actions {
      display: flex;
      margin-left: 90px;
      align-items: center;
      justify-content: space-between;
      .time {
        font-size: 14px;
        color: grey;
        padding-right: 10px;
        &:hover {
          cursor: pointer;
          color: darken($color: grey, $amount: 50);
        }
      }
    }
  }