@import '../../setting.scss';

$card-border-radius: 5px;
.card-item {
    background-color: white;
    padding: $gap;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: $gap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14.5px;
    
    img.card-cover {
      display: block;
      width: calc(100% + 2 * #{$gap});
      margin: -$gap 0 $gap (-$gap);
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
    }
    .actions {
      display: flex;
      margin-left: 90px;
      align-items: center;
      justify-content: space-between;
      .time {
        font-size: 13px;
        color: grey;
        padding-right: 10px;
        &:hover {
          cursor: pointer;
          color: darken($color: grey, $amount: 50);
        }
      }
      .column-dropdown-actions {
        flex: 10%;
        button.dropdown-btn {
          
          padding: 0 8px;
          font-size: 16px;
          height: 32px;
          font-weight: bold;
          letter-spacing: 1px; //giãn kí tự chữ 
          background-color: $column-bg-color;
          border-color: $column-bg-color;
          color: $app-main-text-color;
          &:after {
            content: '...';
            border: none;
            vertical-align: 1.255em;
          }
          &:hover {
            background-color: darken($column-bg-color, 10);
            border-color: darken($column-bg-color, 10);
          }
        }
        .dropdown-menu {
          padding: 0;
          margin-top: -10px;
          min-width: 200px;
          a.dropdown-item {
            padding: 0.1rem 1rem;
            font-size: 14px;
            &:not(:last-child) {
              border-bottom: 1px solid darken($column-bg-color, 10);
            }
          }
        }
      }  
    }
  }