@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

//Height: appbar + boardbar + boardcontent = 91vh, 1vh for scroll bar;
$navbar-app-height: 6vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$column-border-radius: 6px;

//colors
$board-bg-color: linear-gradient(120deg,#2980B9,#8E44AD);
$input-border-color: #0079bf;
$app-main-text-color: #333;
$column-bg-color: #ebecf0;

//screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';